{{yield}}
<lable>
Upload
 <i class="fa fa-camera" aria-hidden="true"></i>
 <input type="file" id="imageUpload" value="Choose a file" accept="image/*"/>
 </lable>

 <button type="button" {{action 'uploadPhoto' }} class="bttnNext">upload</button>